#car-nav {
  background-color: white; 
  text-align: center; 
}

.carText {
  font-weight: 600;
  font-size: 30px;
  margin: 60px 0px 40px 0px;
  text-align: center;
}

.cars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.cars li { 
  height: 250px;
  width: 400px;
  margin: 10px 8px;
  padding: 25px 0px;
  background-color: rgb(103, 53, 53);
  // overflow: hidden;
  cursor: pointer;
  opacity: 85%;
}

.cars li:hover {
  opacity: 100%;

  transition: 0.4s ease-in-out
}

.cars li h2 {
  padding: 35px 0px; 
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.characters li a {
  text-decoration: none;
}
