#features {
  margin: 0;
  background-color: black;
  color: white;
}

.imgClose {
  text-align: center;
}

.imgClose img {
  width: 40px;
  margin-bottom: 20px;
  margin-top: 35px;
}

.imgClose h2 {
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0 80px;
}

.lightbox_close {
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.carBox {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.imgBox img {
  width: 600px;
  margin-right: 60px;
}

.desBox {
  width: 600px;
}

.desBox h2 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.desBox p {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  padding-right: 15px;
}

