#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 20px 50px;
}

.logo img {
  width: 100px;
}

.navText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  font-weight: 500;
  font-size: 18px;
}

.navTexts {
  margin-top: 13px;
}

.navImg {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.navImg img {
  width: 30px;
}

.navImgs {
  margin-right: 15px;
}

.navImgs:nth-child(2) {
  margin-top: 3px;
}


.navImgs h2 {
  font-size: 15px;
  font-weight: 500;
}

.navImgs:last-child {
  margin-right: 0px;
}


.navi {
  margin-right: 20px;
}

#hero {
  background-color: black; 
  height: 650px;
  background-image: url("../images/hero3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
